<h2 mat-dialog-title>Create Project</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="project-form">

    <mat-form-field appearance="outline">
      <mat-label>Name *</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Reference *</mat-label>
      <input matInput formControlName="reference" />
      <mat-error *ngIf="form.get('reference')?.hasError('required')">Reference is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sciforma Code *</mat-label>
      <input matInput formControlName="sciformaCode" />
      <mat-error *ngIf="form.get('sciformaCode')?.hasError('required')">Sciforma code is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>PORD BIA</mat-label>
      <input matInput formControlName="pordBia" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>PORD Project</mat-label>
      <input matInput formControlName="pordProject" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Project Manager *</mat-label>
      <mat-select formControlName="projectManagerId">
        <mat-option *ngFor="let pm of projectManagers" [value]="pm.id">
          {{ pm.username }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('projectManagerId')?.hasError('required')">Project manager is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Initial Status *</mat-label>
      <mat-select formControlName="initialStatus">
        <mat-option *ngFor="let s of statuses" [value]="s">{{ s }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('initialStatus')?.hasError('required')">Status is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status Date *</mat-label>
      <input matInput [matDatepicker]="statusDatePicker" formControlName="statusDate" />
      <mat-datepicker-toggle matSuffix [for]="statusDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #statusDatePicker></mat-datepicker>
      <mat-error *ngIf="form.get('statusDate')?.hasError('required')">Status date is required</mat-error>
    </mat-form-field>

    <mat-error *ngIf="error">{{ error }}</mat-error>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="saving">
    Create
  </button>
</mat-dialog-actions>
